.backcolorred
{
    background-color: red;
}

.backcolorblue
{
    background-color: blue;
}

.backcolorlime
{
    background-color: lime;
}

.backcolororange
{
    background-color: orange;
}

.backcolormagenta
{
    background-color: magenta;
}

.fontRed
{
    color: red;
}

.fontGreen
{
    color: green;
}


