body
{
    margin:0px;
    margin-top:20Px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: antiquewhite;
}

header
{
    font-style: oblique;
    color: cornflowerblue;
    font-size: 50px;
    margin-bottom: 5px;
}

.navbarline 
{
    background-color: cornflowerblue;
    width: 96%;
    height: 5px;
    margin-bottom: 5px;
}

.navbar
{
    margin-bottom: 100px;
}

.navbar input 
{
    margin-right: 45px;
    background-color: lightcoral;
    float: left;
    width: 185px;
    height: 25px;
    color: azure;
    font-style: oblique;
    font-size: 15px;
    border: hidden;
    border-radius: 4px;
}

table
{
    border-collapse: collapse;
    margin-left: 10%;
}
.tableHead td
{
    background-color: dodgerblue;
    border: 2px solid aliceblue;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    font-size: 25px;
    font-family: "Arial Hebrew";
    color: whitesmoke;
}

 td
{
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    width: 200px;
    height: 65px;
    text-align: left;
    padding-left: 10px;
    font-size: 25px;
    font-family: "Arial Hebrew";
    color: darkslateblue;
}

 span
 {
     font-family: "Arial Hebrew";
     color: dodgerblue;
     font-style: oblique;
     font-size: 50px;
 }
