<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link rel="stylesheet" href="../static/style.css" th:href="@{../static/style.css}" >-->
</head>
<body>
<div class="hello">
    <span th:style = "'color:' + ${color} + ';font-family:' + ${font} + ';font-size:' + ${size} + 'px'"
       th:text="${hello}
       + ', '
       + ${name} +'!!!!!'"/>
    <span th:style = "'color:blue' + ${color} + ';font-family:' + ${font} + ';font-size:' + ${size} + 'px' "
          th:text=" ' This web-site was loaded '
       + ${time} + ' since the start.' "/>
</div>
</body>
</html>