<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>my shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <header>My Green Shop</header>
        <div class="navbarline">
        </div>
        <form  action="https://google.com" method="get">
            <input type="submit" value="Only Available">
        </form>       
        <form  action="https://google.com" method="get">
            <input type="submit" value="Cheapest First">
        </form>        
        <form  action="https://google.com" method="get">
            <input type="submit" value="Contains Nike">
        </form>        
        <form  action="https://google.com" method="get">
            <input type="submit" value="Average Stock">
        </form>        
        <form  action="https://google.com" method="get">
            <input type="submit" value="Most Expensive Available">
        </form>
    </div>
<!--
<div class="hello">
    <span th:style = "'color:' + ${color} + ';font-family:' + ${font} + ';font-size:' + ${size} + 'px'"
       th:text="${hello}
       + ', '
       + ${name} +'!!!!!'"/>
    <span th:style = "'color:blue' + ${color} + ';font-family:' + ${font} + ';font-size:' + ${size} + 'px' "
          th:text=" ' This web-site was loaded '
       + ${time} + ' since the start.' "/>
</div>
-->
</body>
</html>