<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet"
          type = "text/css"
          th:href = "@{/style.css}" />
</head>
<body>
<form th:action="@{/todo/search}" th:method="post">
    <input type="text" placeholder="search" name="searchKey">
    <input type="submit" value="search with a keyword">
</form>


<form th:action="@{/todo/searchByUserName}" th:method="post">
<select th:name="id">
    <option th:each="name : ${userList}" th:value="${name.id}" th:text="${name.name}"></option>
    <option th:value="0" th:text="All"></option>
    <input type="submit" value="search by user name">
</select>
</form>

<!--<form action="/todo/list" >-->
<!--    <label></label>-->
<!--    <input th:type="checkbox" name="isActive" checked="true">-->
<!--</form>-->



<h1>Todos for today</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>TASK</th>
        <th>DONE</th>
        <th>URGENT</th>
        <th>USER</th>
        <th>Start Date</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${todos}">
        <td th:text="${each.id}"></td>
        <td><a th:href="@{'/todo/item/' + ${each.id}}"> <span th:text="${each.title}"></span></a></td>
        <td th:text="${each.done}"></td>
        <td th:text="${each.urgent}"></td>
        <td th:text="${each.user == null} ? 'none' : ${each.user.name}"></td>
        <td th:text="${each.createdAtDate}"></td>
        <td><a th:href="'/todo/delete/' + ${each.id}"> delete</a></td>
        <td><a th:href="'/todo/edit/' + ${each.id}"> edit</a></td>
    </tr>
    </tbody>
</table>
<h3><a href="/todo/addTask">Add new task</a></h3>
<h3><a href="/todo/userList">User list</a></h3>
</body>
</html>