<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a th:href="@{'/?name=' + ${foxObject.name}}">Back to main</a></li>
</ul>
<h1>Please change nutrition of <span th:text="${foxObject.name.toUpperCase()}"/> here</h1>
<form th:method="post" th:object="${foxObject}" th:action="@{/nutritionStore}">

    <input type="hidden" th:field="*{name}" th:value="${foxObject.name}">

    <label>Drink</label>
    <select th:field="*{drink}">
        <div th:each="drink : ${drinklist}">
        <option th:value="${drink.toUpperCase()}" th:text="${drink.toUpperCase()}"></option>
        </div>
    </select>

    <label>Food</label>
    <select th:field="*{food}">
        <option th:each="food : ${foodlist}" th:value="${food.toUpperCase()}" th:text="${food.toUpperCase()}"></option>
    </select>

        <input name="submit" type="submit" value="submit"/>
<!--    <button>Submit</button>-->
</form>



</body>
