<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
    <li><a href="/simplelogin">Register others</a></li>
    <li><a th:href="@{'/list?name=' + ${foxObject.name}}">These are other club members</a></li>
    <li><a th:href="@{'/nutritionStore?name=' + ${foxObject.name}}">Nutrition store</a></li>
    <li><a th:href="@{'/trickcenter?name=' + ${foxObject.name}}">Trick center</a></li>
</ul>

<img src="/greenfox.png">
<p>This is <span th:text="${foxObject.name == null} ? 'Mr. Fox.' : ${foxObject.name.toUpperCase()} + '.' "></span>
     He leaves on <span th:text="${foxObject.food == null} ? 'pizza ' : ${foxObject.food.toUpperCase()}"></span>
    and <span th:text="${foxObject.drink == null} ? ' lemonade' : ${foxObject.drink.toUpperCase()}"></span>
    and currently knows <span th:text="${foxObject.triks.isEmpty()} ? 'nothing.' : ${foxObject.triks.size()} + ' tricks.'"></span>
</p>

<h2 th:if="!${foxObject.triks.isEmpty()}">Knows following tricks:</h2>
<ul th:if="!${foxObject.triks.isEmpty()}" >
    <li th:each="trick : ${foxObject.triks}" th:text="${trick}"></li>
</ul>

<h2>Activity history</h2>
<ul>
    <li th:each="act : ${foxObject.getShortReverseHistory()}" th:text="${act}"></li>
</ul>
</body>
</html>