<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li><a href="/">Back to main</a></li>
<h1>Please provide the name for the fox below</h1>
<form th:action="@{/simplelogin}" th:method="post">
    <input type="text" th:name="register" placeholder="Name">
    <button>Register</button>
</form>
<form th:action="@{/simplelogin}" th:method="post">
    <input type="text" th:name="login" placeholder="Name">
    <button>Login</button>
</form>

</body>
</html>