table, td, tr, th
{
    border: solid 1px;
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
}

body
{
    margin-left: 20%;
}

input, select
{
    height: 30px;
    width: 200px;
}

form
{
    float: left;
}